<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/css/style.css" rel="stylesheet">
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/vuejs/polyfill.min.js"></script>
    <script src="lib/vuejs/axios.min.js"></script>
    <script src="lib/vuejs/vue.min.js"></script>
</head>
<body>
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <a href="/" class="logo"><img src="lib/image/logo.png" alt="ARCCKCLOUD" class="img-fluid"></a>
            <h1 class="logo"><a href="#">ARCCKCLOUD</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="#News">News</a></li>
                    <li><a class="nav-link scrollto" href="#Documentation">Documentation</a></li>
                    <li><a class="nav-link scrollto" target="_blank" href="https://www.youtube.com/@arcckcloud/videos">Videos</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            <div id="app">
                <img v-if="IsBusy" src="images/loading.gif" class="loading" />
                
                <h1>Customers <a v-on:click="AddRow()">+</a></h1>
                
                <div class="row">
                    <div class="col-md-12" v-if="Records.length > 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th v-for="(column,index) in Headers">
                                        {{column}}
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(row,indexx) in Records">
                                    <td v-for="(column,index) in Columns">
                                        <span v-if="indexx == EditIndex">
                                            <input v-model="Records[EditIndex][column]" v-if="index != 0 || Adding">
                                            <span v-else> {{row[column]}}</span>
                                        </span>
                                        <span v-else> {{row[column]}}</span>
                                    </td>
                                    <td>
                                        <span v-if="indexx == EditIndex">
                                            <i class="bi bi-save" v-on:click="Update(indexx)"></i>
                                            <i class="bi bi-x" v-on:click="Cancel(indexx)"></i>
                                        </span>
                                        <span v-else>
                                            <i class="bi bi-pencil-square" v-on:click="Edit(indexx)"></i>
                                            <i class="bi bi-trash" v-on:click="Delete(indexx)"></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>     
                    </div>
                </div>
            </div>
    </main>
</div>
<script type="text/javascript">
    var tablesapp = new Vue({
        el: '#app',
        data: {
            Headers: ["Id","Address","City","Region","PostalCode","Country","Phone","Fax"],
            Columns: ["_id","Address","City","Region","PostalCode","Country","Phone","Fax"],
            apiFetchUrl: "https://arcckcloud.com:5555/api/Web/ProcessJson?id=e9c0aee5-5bcc-4472-9834-f3af272ced44",
            apiCrudUrl: "https://arcckcloud.com:5555/api/Web/ProcessJson?id=e9c0aee5-5bcc-4472-9834-f3af272ced45",
            IsBusy: false,
            Records: [],
            EditIndex: -1,
            Adding: false
        },

        mounted: function () {
            var me = this;
            this.IsBusy = true;
            axios({
                method: 'post',
                url: me.apiFetchUrl,
                data: "{}",
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Basic ' + btoa('react' + ':' + 'react')
                }
            }).then(function (response) {
                if (typeof response.data === 'string') {
                    alert(response.data);
                } else if (Array.isArray(response.data)) {
                    me.Records = response.data;
                }
                me.IsBusy = false;
            });
        },
        methods: {
            Delete: function (indexx) {
                var me = this;
                var payload = me.Records[indexx];
                if (confirm('Delete ' + payload._id +  '?')){
                    payload.__action = "DELETE";
                    me.IsBusy = true;
                    axios({
                    method: 'post',
                    url: me.apiCrudUrl,
                    data: payload,
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Basic ' + btoa('react' + ':' + 'react')
                    }
                    }).then(function (response) {
                        if (typeof response.data === 'string') {
                            alert(response.data);
                        } else if (Array.isArray(response.data)) {
                            alert('Record ' + payload._id + ' successfully deleted');
                            me.Records = response.data;
                        }
                        me.IsBusy = false;
                    });
                }
            },
            Update: function (indexx) {
                var me = this;
                var payload = me.Records[indexx];
                if (me.Adding){
                    payload.__action = "INSERT";
                } else 
                {
                    payload.__action = "UPDATE";
                }
                me.IsBusy = true;
                axios({
                method: 'post',
                url: me.apiCrudUrl,
                data: payload,
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Basic ' + btoa('react' + ':' + 'react')
                }
                }).then(function (response) {
                    if (typeof response.data === 'string') {
                        alert(response.data);
                    } else if (Array.isArray(response.data)) {
                        me.Records = response.data;
                    }
                    me.IsBusy = false;
                    me.Adding = false;
                    me.EditIndex = -1;
                });
            },
            Edit: function (indexx) {
                this.EditIndex = indexx;
            },
            Cancel: function (indexx) {
                this.EditIndex = -1;
            },
            AddRow: function() {
                var newRecord = {
                    _id: "XXXXX",
                    Address: "",
                    City: "",
                    Region: "",
                    PostalCode: "",
                    Country: "",
                    Phone: "",
                    Fax: ""
               }
               this.Records.unshift(newRecord);
               this.EditIndex = 0;
               this.Adding = true;
            }
            
        }
    });
</script>
        
</body>
</html>
